USE [master]
GO
/****** Object:  Database [data_vituan]    Script Date: 10/15/2019 12:16:45 PM ******/
CREATE DATABASE [data_vituan]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'data_vituan', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\data_vituan.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'data_vituan_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\data_vituan_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [data_vituan].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [data_vituan]
GO
/****** Object:  Table [dbo].[BAOHANH]    Script Date: 10/15/2019 12:16:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BAOHANH](
	[IDBH] [int] IDENTITY(1,1) NOT NULL,
	[IDCTHoaDon] [int] NULL,
	[Loi] [nvarchar](255) NULL,
	[PhuongPhap] [nvarchar](50) NULL,
	[NgayBH] [date] NULL,
	[NgayHen] [date] NULL,
	[TrangThai] [tinyint] NULL,
 CONSTRAINT [PK_BAOHANH] PRIMARY KEY CLUSTERED 
(
	[IDBH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BH_KHACHHANG]    Script Date: 10/15/2019 12:16:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BH_KHACHHANG](
	[IDBHKH] [int] IDENTITY(1,1) NOT NULL,
	[ChinhSach] [nvarchar](50) NULL,
	[ThoiGian] [smallint] NULL,
	[DonVi] [nvarchar](10) NULL,
	[GhiChu] [nvarchar](255) NULL,
 CONSTRAINT [PK_BH_KHACHHANG] PRIMARY KEY CLUSTERED 
(
	[IDBHKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BH_NCC]    Script Date: 10/15/2019 12:16:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BH_NCC](
	[IDBHNCC] [int] IDENTITY(1,1) NOT NULL,
	[GoiBH] [nvarchar](255) NULL,
	[ThoiHan] [smallint] NULL,
	[DonVi] [varchar](10) NULL,
	[GhiChu] [nchar](10) NULL,
	[DonViBH] [nvarchar](50) NULL,
 CONSTRAINT [PK_BH_NCC] PRIMARY KEY CLUSTERED 
(
	[IDBHNCC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CT_HOADON]    Script Date: 10/15/2019 12:16:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CT_HOADON](
	[IDCTHoaDon] [int] IDENTITY(1,1) NOT NULL,
	[IDHD] [int] NOT NULL,
	[IDSP] [int] NOT NULL,
	[SoLuong] [int] NULL,
	[DonGia] [money] NULL,
	[ThanhTien] [money] NULL,
	[IDBH] [int] NULL,
	[GhiChu] [nvarchar](100) NULL,
 CONSTRAINT [PK_CT_HOADON] PRIMARY KEY CLUSTERED 
(
	[IDCTHoaDon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CT_PHIEUNHAP]    Script Date: 10/15/2019 12:16:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CT_PHIEUNHAP](
	[IDCTPhieuNhap] [int] IDENTITY(1,1) NOT NULL,
	[IDPN] [int] NULL,
	[Soluong] [int] NULL,
	[DonGia] [money] NULL,
	[TongTien] [money] NULL,
	[GhiChu] [nvarchar](255) NULL,
	[IDBHNCC] [int] NULL,
	[ThongTinBH] [nvarchar](255) NULL,
	[IDSP] [int] NULL,
 CONSTRAINT [PK_CT_PHIEUNHAP] PRIMARY KEY CLUSTERED 
(
	[IDCTPhieuNhap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CT_PHIEUXUAT]    Script Date: 10/15/2019 12:16:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CT_PHIEUXUAT](
	[IDCTPhieuXuat] [int] IDENTITY(1,1) NOT NULL,
	[IDPX] [int] NULL,
	[SoLuong] [int] NULL,
	[DonGia] [money] NULL,
	[ThanhTi] [money] NULL,
	[GhiChu] [nvarchar](100) NULL,
	[IDSP] [int] NULL,
 CONSTRAINT [PK_CT_PHIEUXUAT] PRIMARY KEY CLUSTERED 
(
	[IDCTPhieuXuat] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DAILY]    Script Date: 10/15/2019 12:16:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DAILY](
	[IDDL] [int] IDENTITY(1,1) NOT NULL,
	[TenDL] [nvarchar](100) NULL,
	[SDT] [varchar](12) NULL,
	[DC] [nvarchar](255) NULL,
	[Email] [varchar](100) NULL,
	[GhiChu] [nvarchar](255) NULL,
	[TrangThai] [bit] NULL,
 CONSTRAINT [PK_DAILY] PRIMARY KEY CLUSTERED 
(
	[IDDL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HOADON]    Script Date: 10/15/2019 12:16:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOADON](
	[IDHD] [int] NOT NULL,
	[NgayTaoHD] [date] NULL,
	[IDKH] [int] NULL,
	[IDNV] [int] NULL,
	[IDBH] [varchar](20) NULL,
	[TrangThai] [nvarchar](20) NULL,
	[IDTK] [int] NULL,
 CONSTRAINT [PK_HOADON] PRIMARY KEY CLUSTERED 
(
	[IDHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHACHHANG]    Script Date: 10/15/2019 12:16:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHACHHANG](
	[IDKH] [int] IDENTITY(1,1) NOT NULL,
	[HoTen] [nvarchar](70) NULL,
	[SDT] [varchar](10) NULL,
	[DC] [nvarchar](255) NULL,
	[Email] [varchar](100) NULL,
	[NgaySinh] [date] NULL,
	[GhiChu] [nvarchar](255) NULL,
	[TrangThai] [nvarchar](20) NULL,
 CONSTRAINT [PK_KHACHHANG] PRIMARY KEY CLUSTERED 
(
	[IDKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHO]    Script Date: 10/15/2019 12:16:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHO](
	[IDKho] [int] IDENTITY(1,1) NOT NULL,
	[TenKho] [nvarchar](50) NULL,
	[IDLo] [int] NULL,
	[TenLo] [nvarchar](50) NULL,
	[GhiChu] [nvarchar](255) NULL,
 CONSTRAINT [PK_KHO] PRIMARY KEY CLUSTERED 
(
	[IDKho] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOAISANPHAM]    Script Date: 10/15/2019 12:16:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAISANPHAM](
	[IDLoaiSP] [int] IDENTITY(1,1) NOT NULL,
	[TenLoaiSP] [nvarchar](50) NULL,
	[GhiChu] [nvarchar](255) NULL,
	[TrangThai] [bit] NULL,
 CONSTRAINT [PK_LOAISANPHAM] PRIMARY KEY CLUSTERED 
(
	[IDLoaiSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHACUNGCAP]    Script Date: 10/15/2019 12:16:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHACUNGCAP](
	[IDNCC] [int] IDENTITY(1,1) NOT NULL,
	[TenNCC] [nvarchar](100) NULL,
	[SDT] [varchar](10) NULL,
	[DC] [nvarchar](255) NULL,
	[Email] [varchar](100) NULL,
	[GhiChu] [nvarchar](255) NULL,
	[TrangThai] [bit] NULL,
 CONSTRAINT [PK_NHACUNGCAP] PRIMARY KEY CLUSTERED 
(
	[IDNCC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHANVIEN]    Script Date: 10/15/2019 12:16:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHANVIEN](
	[IDNV] [int] IDENTITY(1,1) NOT NULL,
	[HoTen] [nvarchar](70) NULL,
	[IDQuyen] [int] NULL,
	[DC] [nvarchar](255) NULL,
	[GioiTinh] [bit] NULL,
	[NgaySinh] [date] NULL,
	[NgayVaoLam] [date] NULL,
	[CMND] [varchar](9) NULL,
	[SDT] [varchar](10) NULL,
	[TrangThai] [nvarchar](50) NULL,
 CONSTRAINT [PK_NhanVien] PRIMARY KEY CLUSTERED 
(
	[IDNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHIEUNHAP]    Script Date: 10/15/2019 12:16:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHIEUNHAP](
	[IDPN] [int] IDENTITY(1,1) NOT NULL,
	[IDNCC] [int] NULL,
	[IDSP] [int] NULL,
	[NgayNhap] [date] NULL,
	[IDTK] [int] NULL,
	[TrangThai] [bit] NULL,
 CONSTRAINT [PK_PHIEUNHAP] PRIMARY KEY CLUSTERED 
(
	[IDPN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHIEUXUAT]    Script Date: 10/15/2019 12:16:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHIEUXUAT](
	[IDPX] [int] IDENTITY(1,1) NOT NULL,
	[IDDL] [int] NULL,
	[IDCTPhieuXuat] [int] NULL,
	[NgayXuat] [datetime] NULL,
	[GioBocHang] [datetime] NULL,
	[GioGiaoHang] [datetime] NULL,
	[IDXeHang] [varchar](10) NULL,
	[GhiChu] [nvarchar](255) NULL,
	[TrangThai] [bit] NULL,
	[IDTK] [int] NULL,
 CONSTRAINT [PK_PHIEUXUAT] PRIMARY KEY CLUSTERED 
(
	[IDPX] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QUYEN]    Script Date: 10/15/2019 12:16:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QUYEN](
	[IDQuyen] [int] IDENTITY(1,1) NOT NULL,
	[TenQuyen] [nvarchar](20) NULL,
	[MoTa] [nvarchar](max) NULL,
 CONSTRAINT [PK_QUYEN] PRIMARY KEY CLUSTERED 
(
	[IDQuyen] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SANPHAM]    Script Date: 10/15/2019 12:16:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SANPHAM](
	[IDSP] [int] IDENTITY(1,1) NOT NULL,
	[TenSP] [nvarchar](100) NULL,
	[GiaNhap] [money] NULL,
	[GiaSi] [money] NULL,
	[GiaLe] [money] NULL,
	[MaLo] [int] NULL,
	[SoLuong] [int] NULL,
	[TrangThai] [nvarchar](20) NULL,
	[GhiChu] [nvarchar](255) NULL,
	[HanBH] [date] NULL,
	[IDLoaiSP] [int] NULL,
	[IDKho] [int] NULL,
 CONSTRAINT [PK_SANPHAM] PRIMARY KEY CLUSTERED 
(
	[IDSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TAIKHOAN]    Script Date: 10/15/2019 12:16:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TAIKHOAN](
	[IDTaiKhoan] [int] NOT NULL,
	[UserName] [varchar](20) NULL,
	[PassWords] [varchar](24) NULL,
	[NgayLap] [date] NULL,
	[IDNV] [int] NULL,
	[TrangThai] [nvarchar](50) NULL,
	[IDQuyen] [int] NULL,
 CONSTRAINT [PK_TAIKHOAN] PRIMARY KEY CLUSTERED 
(
	[IDTaiKhoan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[HOADON] ADD  CONSTRAINT [DF_HOADON_NgayTaoHD]  DEFAULT (getdate()) FOR [NgayTaoHD]
GO
ALTER TABLE [dbo].[NHANVIEN] ADD  CONSTRAINT [DF_NhanVien_NgayVaoLam]  DEFAULT (getdate()) FOR [NgayVaoLam]
GO
ALTER TABLE [dbo].[PHIEUNHAP] ADD  CONSTRAINT [DF_PHIEUNHAP_NgayNhap]  DEFAULT (getdate()) FOR [NgayNhap]
GO
ALTER TABLE [dbo].[PHIEUXUAT] ADD  CONSTRAINT [DF_PHIEUXUAT_NgayXuat]  DEFAULT (getdate()) FOR [NgayXuat]
GO
ALTER TABLE [dbo].[BAOHANH]  WITH CHECK ADD  CONSTRAINT [FK_BAOHANH_CT_HOADON] FOREIGN KEY([IDCTHoaDon])
REFERENCES [dbo].[CT_HOADON] ([IDCTHoaDon])
GO
ALTER TABLE [dbo].[BAOHANH] CHECK CONSTRAINT [FK_BAOHANH_CT_HOADON]
GO
ALTER TABLE [dbo].[CT_HOADON]  WITH CHECK ADD  CONSTRAINT [FK_CT_HOADON_BH_KHACHHANG] FOREIGN KEY([IDBH])
REFERENCES [dbo].[BH_KHACHHANG] ([IDBHKH])
GO
ALTER TABLE [dbo].[CT_HOADON] CHECK CONSTRAINT [FK_CT_HOADON_BH_KHACHHANG]
GO
ALTER TABLE [dbo].[CT_HOADON]  WITH CHECK ADD  CONSTRAINT [FK_CT_HOADON_HOADON] FOREIGN KEY([IDHD])
REFERENCES [dbo].[HOADON] ([IDHD])
GO
ALTER TABLE [dbo].[CT_HOADON] CHECK CONSTRAINT [FK_CT_HOADON_HOADON]
GO
ALTER TABLE [dbo].[CT_HOADON]  WITH CHECK ADD  CONSTRAINT [FK_CT_HOADON_SANPHAM] FOREIGN KEY([IDSP])
REFERENCES [dbo].[SANPHAM] ([IDSP])
GO
ALTER TABLE [dbo].[CT_HOADON] CHECK CONSTRAINT [FK_CT_HOADON_SANPHAM]
GO
ALTER TABLE [dbo].[CT_PHIEUNHAP]  WITH CHECK ADD  CONSTRAINT [FK_CT_PHIEUNHAP_PHIEUNHAP1] FOREIGN KEY([IDPN])
REFERENCES [dbo].[PHIEUNHAP] ([IDPN])
GO
ALTER TABLE [dbo].[CT_PHIEUNHAP] CHECK CONSTRAINT [FK_CT_PHIEUNHAP_PHIEUNHAP1]
GO
ALTER TABLE [dbo].[CT_PHIEUNHAP]  WITH CHECK ADD  CONSTRAINT [FK_CT_PHIEUNHAP_SANPHAM1] FOREIGN KEY([IDSP])
REFERENCES [dbo].[SANPHAM] ([IDSP])
GO
ALTER TABLE [dbo].[CT_PHIEUNHAP] CHECK CONSTRAINT [FK_CT_PHIEUNHAP_SANPHAM1]
GO
ALTER TABLE [dbo].[CT_PHIEUXUAT]  WITH CHECK ADD  CONSTRAINT [FK_CT_PHIEUXUAT_CT_PHIEUXUAT] FOREIGN KEY([IDSP])
REFERENCES [dbo].[SANPHAM] ([IDSP])
GO
ALTER TABLE [dbo].[CT_PHIEUXUAT] CHECK CONSTRAINT [FK_CT_PHIEUXUAT_CT_PHIEUXUAT]
GO
ALTER TABLE [dbo].[CT_PHIEUXUAT]  WITH CHECK ADD  CONSTRAINT [FK_CT_PHIEUXUAT_PHIEUXUAT] FOREIGN KEY([IDPX])
REFERENCES [dbo].[PHIEUXUAT] ([IDPX])
GO
ALTER TABLE [dbo].[CT_PHIEUXUAT] CHECK CONSTRAINT [FK_CT_PHIEUXUAT_PHIEUXUAT]
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD  CONSTRAINT [FK_HOADON_KHACHHANG] FOREIGN KEY([IDKH])
REFERENCES [dbo].[KHACHHANG] ([IDKH])
GO
ALTER TABLE [dbo].[HOADON] CHECK CONSTRAINT [FK_HOADON_KHACHHANG]
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD  CONSTRAINT [FK_HOADON_TAIKHOAN1] FOREIGN KEY([IDTK])
REFERENCES [dbo].[TAIKHOAN] ([IDTaiKhoan])
GO
ALTER TABLE [dbo].[HOADON] CHECK CONSTRAINT [FK_HOADON_TAIKHOAN1]
GO
ALTER TABLE [dbo].[PHIEUNHAP]  WITH CHECK ADD  CONSTRAINT [FK_PHIEUNHAP_NHACUNGCAP] FOREIGN KEY([IDNCC])
REFERENCES [dbo].[NHACUNGCAP] ([IDNCC])
GO
ALTER TABLE [dbo].[PHIEUNHAP] CHECK CONSTRAINT [FK_PHIEUNHAP_NHACUNGCAP]
GO
ALTER TABLE [dbo].[PHIEUNHAP]  WITH CHECK ADD  CONSTRAINT [FK_PHIEUNHAP_TAIKHOAN] FOREIGN KEY([IDTK])
REFERENCES [dbo].[TAIKHOAN] ([IDTaiKhoan])
GO
ALTER TABLE [dbo].[PHIEUNHAP] CHECK CONSTRAINT [FK_PHIEUNHAP_TAIKHOAN]
GO
ALTER TABLE [dbo].[PHIEUXUAT]  WITH CHECK ADD  CONSTRAINT [FK_PHIEUXUAT_DAILY] FOREIGN KEY([IDDL])
REFERENCES [dbo].[DAILY] ([IDDL])
GO
ALTER TABLE [dbo].[PHIEUXUAT] CHECK CONSTRAINT [FK_PHIEUXUAT_DAILY]
GO
ALTER TABLE [dbo].[SANPHAM]  WITH CHECK ADD  CONSTRAINT [FK_SANPHAM_KHO] FOREIGN KEY([IDKho])
REFERENCES [dbo].[KHO] ([IDKho])
GO
ALTER TABLE [dbo].[SANPHAM] CHECK CONSTRAINT [FK_SANPHAM_KHO]
GO
ALTER TABLE [dbo].[SANPHAM]  WITH CHECK ADD  CONSTRAINT [FK_SANPHAM_LOAISANPHAM] FOREIGN KEY([IDLoaiSP])
REFERENCES [dbo].[LOAISANPHAM] ([IDLoaiSP])
GO
ALTER TABLE [dbo].[SANPHAM] CHECK CONSTRAINT [FK_SANPHAM_LOAISANPHAM]
GO
ALTER TABLE [dbo].[TAIKHOAN]  WITH CHECK ADD  CONSTRAINT [FK_TAIKHOAN_NHANVIEN] FOREIGN KEY([IDNV])
REFERENCES [dbo].[NHANVIEN] ([IDNV])
GO
ALTER TABLE [dbo].[TAIKHOAN] CHECK CONSTRAINT [FK_TAIKHOAN_NHANVIEN]
GO
ALTER TABLE [dbo].[TAIKHOAN]  WITH CHECK ADD  CONSTRAINT [FK_TAIKHOAN_QUYEN] FOREIGN KEY([IDQuyen])
REFERENCES [dbo].[QUYEN] ([IDQuyen])
GO
ALTER TABLE [dbo].[TAIKHOAN] CHECK CONSTRAINT [FK_TAIKHOAN_QUYEN]
GO
USE [master]
GO
